.login-form{
    padding: 4rem 1rem; 
}
mat-card {
    max-width: 400px;
    margin: 2rem auto;
    text-align: center;
    height: 450px;
}
.full-with-input, button{
    width: 100%;
}
.separator{
    margin-bottom: 6rem;
}